# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.venv/
env/
.env/

# Huge data files (exceeding GitHub limits)
data/candidates.jsonl
artifacts/candidate_embeddings.npy

# Scratch / Temp files
scratch/
data/temp_jd.docx
